.filter-container{
    border: none !important;
    /* background-color: #0012de; */
    height: 100%;
}

.filter-heading{
    margin: 0px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: lighter;
}

.filter{
    padding-left: 10px;
    padding-right: 10px;
}


/* .mat-expansion-panel-content {
    background-color: #000C9E !important;
} */

mat-expansion-panel-header{
    /* background-color: #0012de; */
    /* color: white; */
}

html .mat-expansion-indicator, html .mat-expansion-indicator:after {
    color: white;
}

mat-expansion-panel{
    --mat-expansion-container-shape:0px;
    box-shadow: 0px 0px 0px 0px;
}