<div>
  <div class="top-toolbar">
    <div class="slb-gif">
    <img class="slb-logo-gif" src="../assets/SLB_Animated_Logo_White.gif">
    </div>
    <h3 class="main_logo">CLOUD APPLICATION MODERNIZATION</h3>
    <div class="right-logo">
      <mat-icon svgIcon="help"></mat-icon>
    </div>
  </div>
  
  <div class="main-body" >
    <div class="side-nav">
      <mat-drawer-container class="example-container" autosize>
        <mat-drawer opened="true" #drawer mode="side">
          <app-side-navigation></app-side-navigation>
        </mat-drawer>
      </mat-drawer-container>
      <div (click)="drawer.toggle()" style="display: flex; align-items: center; border-right: 1px solid black;">
        <mat-icon *ngIf="drawer.opened" svgIcon="arrow-left-2"></mat-icon>
        <mat-icon *ngIf="!drawer.opened" svgIcon="arrow-right-2"></mat-icon>
      </div>
    </div>
  
    <div class="main-content">
      <app-application-view></app-application-view>
    </div>

  </div>
  
</div>